
h1 {
  text-align: center;
}
.calendar {
  align-items: center;
}

.calendar .calendar-body {
  text-align: center;
  margin: 0 auto;
}

.calendar .year-month {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-size: 20px;
}
.calendar .year-month .year {
}
.calendar .year-month .month {
}
.calendar .year-month .prev-month,
.calendar .year-month .next-month  {
  width: 30px;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
}

.calendar .calendar-date td {
  width: 100px;
  height: 100px;
  vertical-align: top;
}

